   * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.body {
    max-width: 1200px;
    margin: auto;
}

.header {
    background-image: url(../img/background_header.jpeg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

header .header_top {
    width: 100%;
    height: 32px;
    display: block;
    background-color: rgb(221, 114, 27);
    padding-top: 5px;
    padding-bottom: 5px;
}

header .horizontal-head {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    font-family: "Montserrat";
    align-items: center;
    margin: 20px;
}

.horizontal-head h1 a {
    color: white;
    height: 100%;
    font-size: 33px;
    font: inherit;
}

.navigation {
    display: flex;
}

.navigation li {
    margin-right: 10px;
    color: white;
}

.navigation li a {
    text-decoration: none;
    font-size: 15px;
    font: inherit;
}

.navigation li a:visited {
    color: white;
}

.navigation li a:hover {
    color: rgb(221, 114, 27);
}

.header-main {
    height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: "Montserrat";
}

.header-main h1 {
    color: white;
    font-size: 65px;
    margin-bottom: 30px;
    margin-top: -100px;
}

.header-main h2 {
    color: white;
    font-size: 30px;
}

.header-main p {
    color: white;
    font-size: 20px;
}

@media (max-width: 500px) {
    .navigation li {
        display: none;
    }
}
