                                                                            * {
                                                                                margin: 0;
                                                                                padding: 0;
                                                                                list-style: none;
                                                                                text-decoration: none;
                                                                            }
                                                                            
                                                                            .body {
                                                                                max-width: 1500px;
                                                                            }
                                                                            
                                                                            header .header_top {
                                                                                width: 100%;
                                                                                height: 32px;
                                                                                display: block;
                                                                                background-color: rgb(221, 114, 27);
                                                                                padding-top: 5px;
                                                                                padding-bottom: 5px;
                                                                            }
                                                                            
                                                                            header .header_main {
                                                                                background-image: url(../img/background_header.jpeg);
                                                                                background-size: cover;
                                                                                background-position: center;
                                                                                height: 1065px;
                                                                                display: flex;
                                                                                justify-content: space-between;
                                                                            }
                                                                            
                                                                            .header_main .logo_container {
                                                                                padding-left: 350px;
                                                                                padding-top: 20px;
                                                                            }
                                                                            
                                                                            .header_main h1 a {
                                                                                color: white;
                                                                                height: 100%;
                                                                                font-family: '‎Montserrat'‎;
                                                                                font: inherit;
                                                                                font-size: 33px;
                                                                            }
                                                                            
                                                                            .navigation {
                                                                                padding-right: 350px;
                                                                                padding-top: 50px;
                                                                            }
                                                                            
                                                                            .navigation li {
                                                                                display: inline-block;
                                                                            }
                                                                            
                                                                            .navigation a {
                                                                                color: white;
                                                                                font: inherit;
                                                                                font-size: 15px;
                                                                                height: 100%;
                                                                                font-family: "Montserrat";
                                                                            }
                                                                            
                                                                            .navigation a:hover {
                                                                                color: rgb(221, 114, 27);
                                                                            }
                                                                            
                                                                            .navigation li+li {
                                                                                padding-left: 15px;
                                                                            }
                                                                            
                                                                            @media (max-width:700px) {
                                                                                .navigation {
                                                                                    display: block;
                                                                                }
                                                                            }